<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CREAMMIST</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Choices CSS-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/choices.js/public/assets/styles/choices.min.css') }}">
    <!-- Swiper slider-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}">
    <!-- Google fonts-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&amp;display=swap">
    <!-- Lightbox-->
    <!--    <link rel="stylesheet" href="vendor/glightbox/css/glightbox.min.css">-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.default.css') }}"
          id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.pink.css') }}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
</head>
<body>
<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 py-lg-2">
        <div class="container"><img src="{{ url_for('static', filename='img/database.svg') }}" alt="" width="30">
            <span class="text-uppercase text-small fw-bold text-dark ms-2 mb-0"><a href={{ url_for('index') }}>CREAMMIST</a></span>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
<!--                    <li class="nav-item">-->
<!--                        &lt;!&ndash; Navbar link&ndash;&gt;<a class="nav-link" href={{ url_for('index') }}>Home</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('cell_line.select') }}>Cell Line</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('drug.select') }}>Drug</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('cancer_type.select') }}>Cancer Type</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('gene.select') }}>Gene</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('biomarker.select') }}>Biomarker</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('api.information') }}>API</a>
                    </li>
                    <li class="nav-item">
                        <!-- Navbar link--><a class="nav-link" href={{ url_for('doc.dose_response_curve') }}>Documentation</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}


</body>




<!-- JavaScript files-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/choices.js/public/assets/scripts/choices.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/front.js')}}"></script>
<script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite -
    //   see more here
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }

    // this is set to BootstrapTemple website as you cannot
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

</script>
<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</html>
