{% extends "base.html" %}

{% block content %}
    <section class="hero-home py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <p class="h6 text-uppercase text-primary mb-3">DATABASE</p>
                    <h1 class="mb-5">CREAMMIST</h1>
                </div>

                <div class="container pb-5 col-lg-8 mx-auto text-center">
                    <div class="row text-center gy-4">
                        <div class="col-lg-2 px-lg-1">
                            <div class="categories-item card border-2 shadow hover-transition">
                                <div class="card-body px-4 py-5">
                                    <h2 class="h6"><a class="stretched-link reset-anchor-inherit"
                                                      href={{ url_for('cell_line.select') }}>Cell Line</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 px-lg-1">
                            <div class="categories-item card border-2 shadow hover-transition">
                                <div class="card-body px-4 py-5">
                                    <h2 class="h6"><a class="stretched-link reset-anchor-inherit"
                                                      href={{ url_for('drug.select') }}>Drug</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 px-lg-1">
                            <div class="categories-item card border-2 shadow hover-transition">
                                <div class="card-body px-4 py-5">
                                    <h2 class="h6"><a class="stretched-link reset-anchor-inherit"
                                                      href={{ url_for('cancer_type.select') }}>Cancer Type</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 px-lg-1">
                            <div class="categories-item card border-2 shadow hover-transition">
                                <div class="card-body px-4 py-5">
                                    <h2 class="h6"><a class="stretched-link reset-anchor-inherit"
                                                      href={{ url_for('gene.select') }}>Gene</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 px-lg-1">
                            <div class="categories-item card border-2 shadow hover-transition">
                                <div class="card-body px-4 py-5">
                                    <h2 class="h6"><a class="stretched-link reset-anchor-inherit"
                                                      href={{ url_for('biomarker.select') }}>Biomarker</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-4 p-lg-5">
                        <div class="row gy-4">
                            <h5>An integrated cancer drug sensitivity database for <i>in vitro</i> pharmacogenomics analysis</h5>
                            <p>CREAMMIST enables users to obtain an integrated dose-response across <a href={{ url_for('doc.information') }}>five widely used cancer cell-line drug-response datasets</a>. We utilized the <a href={{ url_for('doc.dose_response_curve') }}>Bayesian framework </a> to systematically integrate all available dose-response values across datasets. The integration at the dose-response level provides an extended view of the dose-response curve to users, especially when different ranges of drug dosages were used across experiments. Users can utilize easy-to-use statistics derived from integrative dose-response curves for various downstream analyses (such as identifying biomarkers, selecting dose range for their experiment, and training a machine learning model).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container pb-5">
    <header class="text-center mb-5">
        <h5><a class="nav-link" href={{ url_for('doc.information') }}>See the documentation to learn more </a></h5>
    </header>
</div>
</section>

{% endblock %}
