{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style="background-color: #A65D8C95;">
        <h1>Analysis</h1>
        <p> Standard drug name : <a
                href="{{ url_for('drug.information_drug', drug=experiment.standard_drug_name, dataset='All') }}">{{ experiment.standard_drug_name }} </a>
            <br>
            Standard cell line name : <a
                    href="{{ url_for('cell_line.information_cell_line', cell_line=experiment.cellosaurus_id, dataset='All') }}"> {{ experiment.cellosaurus_id }} </a>
            <br>
            Data set : {{ experiment.info }} <br></p>


    </div>

    <div class="container">
        <div class="row">
            <form action="" method="POST">
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                {{ form.dataset.label }} &nbsp;&nbsp; {{ form.dataset }} &nbsp;&nbsp;
                {{ form.submit() }}
            </form>
            <br><br>
        </div>
    </div>

    <div id="chart1"></div>

    <div class="container">
        <div class="row">
            <div class="col" id="chart2">
            </div>
            <div class="col" id="chart3">
            </div>
            <div class="col" id="chart4">
            </div>
        </div>
    </div>


    {#    <div id="chart2"></div>#}
    {#    <div id="chart3"></div>#}
    {#    <div id="chart4"></div>#}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1 = {{ graph1Jason | safe}};
        Plotly.plot('chart1', graph1, {})

        var graph2 = {{ graph2Jason | safe}};
        Plotly.plot('chart2', graph2, {})

        var graph3 = {{ graph3Jason | safe}};
        Plotly.plot('chart3', graph3, {})

        var graph4 = {{ graph4Jason | safe}};
        Plotly.plot('chart4', graph4, {})
    </script>

{% endblock %}