{% extends "base.html" %}

{% block content %}
    <section class="hero-home py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <p class="h6 text-uppercase text-primary mb-3">DATABASE</p>
                    <h1 class="mb-5">CREAMMIST</h1>
                </div>
                <div class="col-lg-7 mx-auto text-center card border-5 shadow-sm">
                    <div class="card-body p-lg-5">
                        <a style="color: #17a2b8; font-weight: bold; font-size: larger" href={{ url_for('cell_line.select') }}>Cell Line</a>&nbsp;&nbsp;
                        <a style="color: #ffc107; font-weight: bold; font-size: larger" href={{ url_for('drug.select') }}>Drug</a>&nbsp;&nbsp;
                        <a style="color: #17a2b8; font-weight: bold; font-size: larger" href={{ url_for('cancer_type.select') }}>Cancer Type</a>&nbsp;&nbsp;
                        <a style="color: #ffc107; font-weight: bold; font-size: larger" href={{ url_for('gene.select') }}>Gene</a>&nbsp;&nbsp;
                        <a style="color: #17a2b8; font-weight: bold; font-size: larger" href={{ url_for('biomarker.select') }}>BioMarker</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
