{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <section class="py-5">

        <div class="container py-5">
            <div class="row gy-5">
                <!-- Listing-->
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                        <div class="card-body p-lg-5" id="content1">
                            <h2 class="h4 mb-4">Cell Line vs Drug :
                                <mark style="background: #ffc107"> {{ cl }}</mark> vs
                                <mark style="background: #ffc107"> {{ drug }}</mark>
                            </h2>
                            <p><b>Cellosaurus ID :</b> <a
                                    href="{{ url_for('cell_line.information_cell_line', cell_line=experiment.cellosaurus_id, dataset='All') }}"> {{ experiment.cellosaurus_id }} </a>
                                <br>
                                <b>Drug Name :</b> <a
                                        href="{{ url_for('drug.information_drug', drug=experiment.standard_drug_name, dataset='All') }}"> {{ experiment.standard_drug_name }} </a>
                                <br>
                                {% if experiment.dataset=='All' %}
                                <b>Dataset :</b> All ({{ experiment.info }})
                                {% else %}
                                <b>Dataset :</b> {{ experiment.dataset }}
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <!-- Listing sorting-->
                    <div class="row mb-4 align-items-center">
                        <div class="col-lg-6" >
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-lg-5">
                                    <h4>Information Cards</h4>
                                    <p>Click to show/hide information cards below or download the experimental information.</p>
                                    <input class="form-check-input" type="checkbox" id="chk2" , data-ptag="content2"
                                           name="chk2" checked>
                                    <label class="form-check-label" for="chk2">Dose-response Curve</label>&nbsp;&nbsp;

                                    <input class="form-check-input" type="checkbox" id="chk3" , data-ptag="content3"
                                           name="chk3" checked>
                                    <label class="form-check-label" for="chk3">IC50 Distribution</label>&nbsp;&nbsp

                                    <input class="form-check-input" type="checkbox" id="chk4" , data-ptag="content4"
                                           name="chk4" checked>
                                    <label class="form-check-label" for="chk4">Drug Sensitivity
                                        Scores</label>&nbsp;&nbsp;<br><br>

                                    <div style="float: right;">
                                        <form action="{{ url_for('cell_line.download_experiment', exp = experiment.id) }}"
                                              method="POST">
                                            <button class="btn btn-info w-10" type="submit"><i
                                                    class="fa fa-download me-2 small"></i> Data
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" >
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-lg-5">
                                    <p>Information cards below will change according to the dataset selected. The default dataset is “All”, which means information in the cards is based on the integration. If “All” is not selected, information cards will contain drug response information preprocessed for each dataset independently.</p>
                                    <form action="{{ url_for('cell_line.view_logistic',exp=experiment.id) }}" method="POST">
                                        <b>{{ form.dataset.label }} :</b> {{ form.dataset(class="btn btn-light bg-white shadow-xs border text-start align-items-center")}} <br><br>
                                        <button class="btn btn-primary w-10" type="submit"><i
                                                class="fas fa-search me-2 small"></i>Search
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Listing items-->

                    <div class="row mb-4 align-items-center">
                        <div class="col-lg-8" id="content2">
                        <h2 class="h4 mb-4">Dose Response Relationship</h2>
                        <div class="card shadow-sm border-0">
                            <div class="card-body p-4">
                                <p>Each dot indicates drug response at different dosages, and each color represents the original datasets. A pink line is an integrated dose-response curve. Grey lines represent alternative dose-response curves resulting from a Bayesian curve fitting. A horizontal dashed line represents 50% cell inhibitions. A vertical dashed line represents ????.</p>
                                <div id="chart1">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-4" id="content3">
                            <h2 class="h4 mb-4">IC50 Distribution</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4">
                                    <p>Distribution of drug dosage needed to inhibit the cells by 50%. Dashed lines represent 95% high-density interval (HDI). </p>
                                    <div id="chart2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                                <div class="card-body p-lg-5" id="content4">
                                    <h5>Drug Sensitivity Scores</h5>
                                    <div class="rounded overflow-hidden mb-3">
                                        <table class="table" style="border-radius: 5px 5px 5px 5px;">
                                            <tbody>
                                            {% for s in data %}
                                                <tr>
                                                    <th >IC50</th>
                                                    <td>{{ "%.4f" | format(s.ic50_mode) }} </td>
                                                    <td>log2 Concentration (&mu;M)</td>
                                                </tr>
                                                <tr>
                                                    <th>IC90</th>
                                                    <td>{{ "%.4f" | format(s.ic90_calculate) }} </td>
                                                    <td>log2 Concentration (&mu;M)</td>
                                                </tr>
                                                <tr>
                                                    <th >AUC</th>
                                                    <td>{{ "%.4f" | format(s.auc_calculate) }} </td>
                                                    <td>%</td>
                                                </tr>
                                                <tr>
                                                    <th>EC50</th>
                                                    <td>{{ "%.4f" | format(s.ec50_calculate) }} </td>
                                                    <td>log2 Concentration (&mu;M)</td>
                                                </tr>
                                                <tr>
                                                    <th>Einf</th>
                                                    <td>{{ "%.4f" | format(s.einf_calculate) }}</td>
                                                    <td>cell death rate</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1 = {{ graph1Jason | safe}};
        graph1.config = {
            'displaylogo': false,
            'toImageButtonOptions': {
                'format': 'svg',
                'filename': 'custom_image',
                'height': 500,
                'width': 700,
                'scale': 1
            }
        }
        Plotly.plot('chart1', graph1, {})

        var graph2 = {{ graph2Jason | safe}};
        graph2.config = {
            'displaylogo': false,
            'toImageButtonOptions': {
                'format': 'svg',
                'filename': 'custom_image',
                'height': 500,
                'width': 700,
                'scale': 1
            }
        }
        Plotly.plot('chart2', graph2, {})
    </script>



    <!-- #### for show/hide div -->

    <script type="text/javascript">
        var first = true;
        $('input[type="checkbox"][name^=chk]').change(function () {
            var $target = $('#content' + this.id.replace('chk', '')).toggle(this.checked);
            if (first) {
                $('p[id^=content]').not($target).hide();
                first = false;
            }
        })
    </script>

{% endblock %}