{% extends "base.html" %}

{% block content %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="py-5">
    <div class="container py-5">
        <div class="row gy-5">
            <!-- Listing-->
            <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                <div class="card-body p-lg-5" id="content1">
                    <h2 class="h4 mb-4">Cancer Type :
                        <mark style="background: #ffc107"> {{ cancer_type.title() }}</mark>
                    </h2>
                    <b> Dataset :</b> {{ dataset }}
                </div>
            </div>


            <!-- Listing items-->
            <div class="row mb-4 align-items-center">
                <div class="col-lg-6">
                    <div class="card shadow-sm border-0 ">
                        <div class="card-body p-lg-5">
                            <h4>Information card </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere turpis bibendum
                                ligula tempor ornare. Phasellus sed odio a dolor faucibus interdum. Proin ullamcorper
                                sem velit, non vulputate ex finibus nec. Nulla accumsan, sapien eu sodales gravida, leo
                                urna pretium sapien, ac tincidunt tellus ante sit amet ex.</p>
                            <input class="form-check-input" type="checkbox" id="chk2" , data-ptag="content2"
                                   name="chk2" checked>
                            <label class="form-check-label" for="chk2">IC50</label>&nbsp;&nbsp;

                            <input class="form-check-input" type="checkbox" id="chk3" , data-ptag="content3"
                                   name="chk3" checked>
                            <label class="form-check-label" for="chk3">IC90</label>&nbsp;&nbsp

                            <input class="form-check-input" type="checkbox" id="chk4" , data-ptag="content4"
                                   name="chk4" checked>
                            <label class="form-check-label" for="chk4">AUC</label>&nbsp;&nbsp;<br><br>
                            <div style="float: right;">
                                <form action="{{ url_for('cancer_type.download',dataset=dataset, cancer_type=cancer_type) }}"
                                      method="POST">
                                    <button class="btn btn-info w-10" type="submit"><i
                                            class="fa fa-download me-2 small"></i>Data
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card shadow-sm border-0 ">
                        <div class="card-body p-lg-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere turpis bibendum
                                ligula tempor ornare. Phasellus sed odio a dolor faucibus interdum.</p>
                            <form action="{{ url_for('cancer_type.information_cancer_type',cancer_type=cancer_type, dataset=dataset) }}"
                                  method="POST">
                                <b>{{ form.dataset.label }} :</b> {{ form.dataset(class="btn btn-light bg-white
                                shadow-xs border text-start align-items-center")}} <br><br>
                                <button class="btn btn-primary w-10" type="submit"><i
                                        class="fas fa-search me-2 small"></i>Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4 gy-4">
                <!-- Gallery-->
                <div class="col-lg-6" id="content2">
                    <h2 class="h4 mb-4">IC50</h2>
                    <div class="card shadow-sm border-0 ">
                        <div class="card-body p-4">
                            Drug with 10 highest and lowest IC50 across all cell line in <a
                                href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{
                            cancer_type }} </a>
                            <br><br>
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="content3">
                    <h2 class="h4 mb-4">IC90</h2>
                    <div class="card shadow-sm border-0 ">
                        <div class="card-body p-4">
                            Drug with 10 highest and lowest IC90 across all cell line in <a
                                href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{
                            cancer_type }} </a>
                            <br><br>
                            <div id="chart2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="content4">
                    <h2 class="h4 mb-4">AUC</h2>
                    <div class="card shadow-sm border-0 ">
                        <div class="card-body p-4">
                            Drug with 10 highest and lowest AUC across all cell line in <a
                                href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{
                            cancer_type }} </a>
                            <br><br>
                            <div id="chart3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graph1 = {{ graph1Jason | safe}};
    graph1.config = {
        'displaylogo': false,
        'toImageButtonOptions': {
            'format': 'svg',
            'filename': 'custom_image',
            'height': 500,
            'width': 700,
            'scale': 1
        }
    }
    Plotly.plot('chart1', graph1, {})

    var graph2 = {{ graph2Jason | safe}};
    graph2.config = {
        'displaylogo': false,
        'toImageButtonOptions': {
            'format': 'svg',
            'filename': 'custom_image',
            'height': 500,
            'width': 700,
            'scale': 1
        }
    }
    Plotly.plot('chart2', graph2, {})

    var graph3 = {{ graph3Jason | safe}};
    graph3.config = {
        'displaylogo': false,
        'toImageButtonOptions': {
            'format': 'svg',
            'filename': 'custom_image',
            'height': 500,
            'width': 700,
            'scale': 1
        }
    }
    Plotly.plot('chart3', graph3, {})
</script>


<!-- #### for show/hide div -->

<script type="text/javascript">
    var first = true;
    $('input[type="checkbox"][name^=chk]').change(function () {
        var $target = $('#content' + this.id.replace('chk', '')).toggle(this.checked);
        if (first) {
            $('p[id^=content]').not($target).hide();
            first = false;
        }
    })
</script>

{% endblock %}
