{% extends "base_for_search.html" %}
{% block contenthead %}
    <meta charset="utf-8">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}


{% block content %}
    <div class="jumbotron" style="background-color: #BFAB9F;">
        <h1>Select cell line </h1>

        <form action="{{ url_for('cell_line.select') }}" method="POST">

            {{ form.name.label }}: {{ form.name }}
            <script>
                $(function () {
                    $.ajax({
                        url: '{{ url_for("cell_line_search.autocomplete") }}'
                    }).done(function (data) {
                        $('#cell_line_autocomplete').autocomplete({
                            source: data,
                            minLength: 2
                        });
                    });
                });
            </script>

            <button class="btn btn-primary btn-sm" style="background-color: #735E5A; border-color:#735E5A;">Submit
            </button>
        </form>
    </div>
{% endblock %}