{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}

    <style >
        .ui-autocomplete
        {
            max-height:320px;
            overflow: scroll;
            background-color: #F2DAE6;
        overflow-y: scroll;
            scrollbar-color: #D6B2A7;
            scrollbar-width: thin;
        }
    </style>

    <section class="hero-home py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <p class="h6 text-uppercase text-primary mb-3">CELL LINES</p>
                    <h1 class="mb-5">Select cell line name</h1>
                    <form class="p-2 rounded shadow-sm bg-white" action="{{ url_for('cell_line.select') }}"  method="POST">
                        <div class="input-group">
                            {{ form.name(class="form-control border-0 me-2 shadow-0",placeholder="Select cell line name...")}} <br>

                            <button class="btn btn-primary rounded" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <script>
                            $(function() {
                                $.ajax({
                                    url: '{{ url_for("cell_line.autocomplete") }}'
                                }).done(function (data){
                                    $('#cell_line_autocomplete').autocomplete({
                                        source: data,
                                        minLength: 1
                                    });
                                });
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
