{% extends "base.html" %}
{% block content %}


    <section class="py-5">

        <div class="container py-5">
            <div class="row gy-5">
                <!-- Filter-->
{#                <div class="col-lg-3 order-2 order-lg-1">#}
{#                    <h2 class="h3 mb-4 pb-1">Filter</h2>#}
{#                    <div class="card border-0 shadow-sm mb-4 p-2">#}
{#                        <div class="card-body">#}
{#                            <h2 class="h5 mb-4">Choose tag</h2>#}
{#                            <div class="form-check mb-2">#}
{#                                <input class="form-check-input" type="checkbox" id="customCheckbox1">#}
{#                                <label class="form-check-label" for="customCheckbox1">Information</label>#}
{#                            </div>#}
{#                            <div class="form-check mb-2">#}
{#                                <input class="form-check-input" type="checkbox" id="customCheckbox2">#}
{#                                <label class="form-check-label" for="customCheckbox2">Table</label>#}
{#                            </div>#}
{#                            <div class="form-check mb-2">#}
{#                                <input class="form-check-input" type="checkbox" id="customCheckbox3">#}
{#                                <label class="form-check-label" for="customCheckbox3">Statistic</label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <!-- Listing-->
                <div class="col-lg-12 order-1 order-lg-2">
                    <!-- Listing sorting-->
                    <div class="row mb-4 align-items-center">
                        <div class="col-md-6">
                            <form action="{{ url_for('cell_line.view_logistic',exp=experiment.id) }}" method="POST">
                                {{ form.dataset.label }} : {{ form.dataset }} <br><br>
                                <button class="btn btn-primary w-50" type="submit"> <i class="fas fa-search me-2 small"></i>Search</button>
                            </form><br><br>
                        </div>

                        <div class="col-md-6">
                            <input class="form-check-input" type="checkbox" id="customCheckbox1">
                            <label class="form-check-label" for="customCheckbox1">Information</label> &nbsp;&nbsp;

                            <input class="form-check-input" type="checkbox" id="customCheckbox1">
                            <label class="form-check-label" for="customCheckbox1">Table</label>&nbsp;&nbsp;

                            <input class="form-check-input" type="checkbox" id="customCheckbox1">
                            <label class="form-check-label" for="customCheckbox1">Statistic</label>&nbsp;&nbsp;
                        </div>

                    </div>
                    <!-- Listing items-->
                    <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                        <div class="card-body p-lg-5">
                            <h2 class="h3 mb-4">Analysis</h2>
                            <p> Cellosaurus ID : <a href="{{ url_for('cell_line.information_cell_line', cell_line=experiment.cellosaurus_id, dataset='All') }}"> {{ experiment.cellosaurus_id }} </a> <br>
                                Standard drug name : <a href="{{ url_for('drug.information_drug', drug=experiment.standard_drug_name, dataset='All') }}"> {{ experiment.standard_drug_name }} </a> <br>
                                {% if experiment.dataset=='All'  %}
                                    Data set : All ({{ experiment.info }})
                                {% else %}
                                    Data set : {{ experiment.dataset }}
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="row mb-4 gy-4">
                        <!-- Gallery-->
                        <div class="card shadow-sm border-0 ">
                            <div class="card-body p-4", id="chart1">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4", id="chart2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                                <div class="card-body p-lg-5">
                                    <h2 class="h3 mb-4">Score</h2>
                                    <div class="rounded overflow-hidden mb-3">
                                        <table class="table" style="border-radius: 5px 5px 5px 5px;">
                                            <tbody>
                                            {% for s in data %}
                                                <tr>
                                                    <th style="color:#ef5285">IC50</th>
                                                    <td>{{ "%.4f" | format(s.ic50_mode) }} (log2 scale)</td>
                                                </tr>
                                                <tr>
                                                    <th>IC90</th>
                                                    <td>{{ "%.4f" | format(s.ic90_calculate) }} (log2 scale)</td>
                                                </tr>
                                                <tr>
                                                    <th style="color:#ef5285">AUC</th>
                                                    <td>{{ "%.4f" | format(s.auc_calculate) }} (%)</td>
                                                </tr>
                                                <tr>
                                                    <th>EC50</th>
                                                    <td>{{ "%.4f" | format(s.ec50_calculate) }} (log2 scale)</td>
                                                </tr>
                                                <tr>
                                                    <th>Einf</th>
                                                    <td>{{ "%.4f" | format(s.einf_calculate) }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1= {{ graph1Jason | safe}};
        Plotly.plot('chart1', graph1, {})

        var graph2= {{ graph2Jason | safe}};
        Plotly.plot('chart2', graph2, {})
    </script>




{#<div class="jumbotron" style="background-color: #A65D8C95">#}
{#    <h1 style="color:#59364A"> ANALYSIS </h1><br>#}
{#    <hr class="my-4">#}
{#    <div class="lead">#}
{#        <p> Cellosaurus ID : <a href="{{ url_for('cell_line.information_cell_line', cell_line=experiment.cellosaurus_id, dataset='All') }}"> {{ experiment.cellosaurus_id }} </a> <br>#}
{#            Standard drug name : <a href="{{ url_for('drug.information_drug', drug=experiment.standard_drug_name, dataset='All') }}"> {{ experiment.standard_drug_name }} </a> <br>#}
{#            {% if experiment.dataset=='All'  %}#}
{#                Data set : All ({{ experiment.info }})#}
{#            {% else %}#}
{#                Data set : {{ experiment.dataset }}#}
{#            {% endif %}#}
{#        </p>#}
{#    </div>#}
{##}
{##}
{##}
{#</div>#}

{#<div class="container">#}
{#    <div class="row">#}
{##}
{#        <form action="{{ url_for('cell_line.view_logistic',exp=experiment.id) }}" method="POST">#}
            {# This hidden_tag is a CSRF security feature. #}
{#            {{ form.hidden_tag() }}#}
{#            {{ form.dataset.label }} &nbsp;&nbsp;  {{ form.dataset }} &nbsp;&nbsp;#}
{#            {{ form.submit() }}#}
{#            <button  class="btn btn-primary btn-sm" style="background-color: #59364A; border-color:#59364A;">Submit</button>#}
{#        </form><br><br>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div id="chart1"></div>#}
{#    </div>#}
{#</div>#}
{##}
{#    <div id="chart2"></div>#}
{##}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-4" id="chart2"></div>#}
{#            <div class="col-6" ><br><br><br>#}
{#                <table class="table table-striped table-responsive " style="border-radius: 5px 5px 5px 5px;">#}
{#                    <tbody>#}
{#                    {% for s in data %}#}
{#                        <tr>#}
{#                            <th bgcolor="#735E5A" style="color:white">IC50</th>#}
{#                            <td>{{ "%.4f" | format(s.ic50_mode) }} (log2 scale)</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th bgcolor="#BFAB9F" >IC90</th>#}
{#                            <td>{{ "%.4f" | format(s.ic90_calculate) }} (log2 scale)</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th bgcolor="#735E5A" style="color:white">AUC</th>#}
{#                            <td>{{ "%.4f" | format(s.auc_calculate) }} (%)</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th bgcolor="#BFAB9F" >EC50</th>#}
{#                            <td>{{ "%.4f" | format(s.ec50_calculate) }} (log2 scale)</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th bgcolor="#735E5A" style="color:white">Einf</th>#}
{#                            <td>{{ "%.4f" | format(s.einf_calculate) }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div id="chart1"></div>#}
{##}
{##}
{##}
{##}
{#    <div id="chart3"></div>#}
{#    <div id="chart4"></div>#}
{##}
{#<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
{#<script type="text/javascript">#}
{#    var graph1= {{ graph1Jason | safe}};#}
{#    Plotly.plot('chart1', graph1, {})#}
{##}
{#    var graph2= {{ graph2Jason | safe}};#}
{#    Plotly.plot('chart2', graph2, {})#}
{##}
{#</script>#}

{% endblock %}