{% extends "base.html" %}

{% block content %}
    {#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">#}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>#}
    {#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>#}

    <section class="py-5">
        <div class="container py-5">
            <div class="row gy-5">
                <!-- Listing-->
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                        <div class="card-body p-lg-5" id="content1">
                            <h2 class="h4 mb-4">Gene :
                                <mark style="background: #ffc107">{{ gene }} </mark>
                            </h2>
                            <b> Gene :</b> <a
                                href="{{ url_for('gene.information_gene', gene=gene, dataset='All', cancer_type=cancer_type) }}">{{ gene }} </a><br>
                            <b>Dataset :</b> {{ dataset }}<br>
                            <b>Cancer type :</b> <a
                                href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{ cancer_type }} </a>
                        </div>
                    </div>

                    <div class="row gy-4">
                        <div class="col-lg-6" >
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-lg-5">
                                    <h4>Information Cards </h4>
                                    <p>Click to show/hide information cards below or download the experimental information.</p>
                                    <input class="form-check-input" type="checkbox" id="chk2" , data-ptag="content2"
                                           name="chk2" checked>
                                    <label class="form-check-label" for="chk2">Associated Drugs (Mutation)</label>&nbsp;&nbsp;

                                    <input class="form-check-input" type="checkbox" id="chk3" , data-ptag="content3"
                                           name="chk3" checked>
                                    <label class="form-check-label" for="chk3">Associated Drugs (Gene Expression)</label>&nbsp;<br><br>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" >
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-lg-5">
                                    <p>Information cards below will change according to the selected dataset and cancer type. The default dataset is “All”, which means information in the cards is based on the integration. If “All” is not selected, information cards will contain drug response information preprocessed for each dataset independently.</p>
                                    <form action="{{ url_for('gene.information_gene',gene=gene, dataset=dataset,cancer_type=cancer_type) }}"
                                          method="POST">
                                        <b>{{ form.dataset.label }} :</b> {{ form.dataset(class="btn btn-light bg-white shadow-xs border text-start  align-items-center")}} <br><br>
                                        <b>{{ form.cancer_type.label }} :</b>&nbsp; {{ form.cancer_type(class="btn btn-light bg-white shadow-xs border text-start align-items-center")}} <br><br>

                                        <button class="btn btn-primary w-10" type="submit"><i
                                                class="fas fa-search me-2 small"></i>Search
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Listing sorting-->

                    <!-- Listing items-->

                    <div class="row mb-4 gy-4">
                        <!-- Gallery-->
                        <div class="col-lg-6" id="content2">
                            <h2 class="h4 mb-4">Associated Drugs (Mutation)</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4">
                                    Drugs with the largest and lowest Racksum’s effect sizes, calculated by comparing IC50 between the mutant and wide type cell lines using cell lines from <a
                                        href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{ cancer_type }} </a>
                                    <div id="chart1">
                                        <div style="float: right;">
                                            <form action="{{ url_for('gene.download_mutation',gene=gene, dataset=dataset, cancer_type=cancer_type) }}"
                                                  method="POST">
                                                <button class="btn btn-info w-10" type="submit"><i
                                                        class="fa fa-download me-2 small"></i>Data
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="content3">
                            <h2 class="h4 mb-4">Associated Drugs (Gene Expression)</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4">
                                    Drugs with the highest and lowest Spearman correlations, calculated by comparing gene expression and IC50 across cell lines from <a
                                        href="{{ url_for('cancer_type.information_cancer_type', dataset='All', cancer_type=cancer_type) }}">{{ cancer_type }} </a>
                                    <div id="chart2">
                                        <div style="float: right;">
                                            <form action="{{ url_for('gene.download_expression',gene=gene, dataset=dataset, cancer_type=cancer_type) }}"
                                                  method="POST">
                                                <button class="btn btn-info w-10" type="submit"><i
                                                        class="fa fa-download me-2 small"></i>Data
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1 = {{ graph1Jason | safe}};
        graph1.config = {
            'displaylogo': false,
            'toImageButtonOptions': {
                'format': 'svg',
                'filename': 'custom_image',
                'height': 500,
                'width': 700,
                'scale': 1
            }
        }
        Plotly.plot('chart1', graph1, {})

        var graph2 = {{ graph2Jason | safe}};
        graph2.config = {
            'displaylogo': false,
            'toImageButtonOptions': {
                'format': 'svg',
                'filename': 'custom_image',
                'height': 500,
                'width': 700,
                'scale': 1
            }
        }
        Plotly.plot('chart2', graph2, {})

    </script>


    <!-- #### for show/hide div -->

    <script type="text/javascript">
        var first = true;
        $('input[type="checkbox"][name^=chk]').change(function () {
            var $target = $('#content' + this.id.replace('chk', '')).toggle(this.checked);
            if (first) {
                $('p[id^=content]').not($target).hide();
                first = false;
            }
        })
    </script>





{% endblock %}
