{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}-->

    <style>
        .ui-autocomplete {
            max-height: 320px;
            overflow: scroll;
            background-color: #fcdce7;
            overflow-y: scroll;
            scrollbar-color: #D6B2A7;
            scrollbar-width: thin;
        }
    </style>

    <section class="hero-home py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <p class="h6 text-uppercase text-primary mb-3">GENE</p>
                    <h2 class="mb-5">Search by Gene</h2>
                    <form class="p-2 rounded shadow-sm bg-white" action="{{ url_for('gene.select') }}" method="POST">
                        <div class="input-group">
                            {{ form.name(class="form-control border-0 me-2 shadow-0",placeholder="For example, EGFR") }}
                            <br>

                            <button class="btn btn-primary rounded" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <script>
                            $(function () {
                                $.ajax({
                                    url: '{{ url_for("gene.autocomplete") }}'
                                }).done(function (data) {
                                    $('#gene_autocomplete').autocomplete({
                                        source: data,
                                        minLength: 2
                                    });
                                });
                            });
                        </script>
                    </form>
                    <br>
                    <span style="float:left;">For example,
                        <a href="#" id="link-id1">EGFR</a>&nbsp; -
                        <a href="#" id="link-id2">AAAS</a>&nbsp; -
                        <a href="#" id="link-id3">BAAT</a>&nbsp; -
                        <a href="#" id="link-id4">CHAD</a></span>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-10 mx-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body p-4 p-lg-5">
                            <div class="row gy-4">
                                <h5>All Gene</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere turpis bibendum
                                    ligula tempor ornare. Phasellus sed odio a dolor faucibus interdum.</p>

                                <table id="example" class="display" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th> Gene</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for g in data %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('gene.information_gene', gene=g, dataset='All', cancer_type='pancan') }}">{{ g }} </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script type="text/javascript">
    $(function(){
        $("#link-id1").click(function(){
            $('#gene_autocomplete').val($(this).html());
            $('#gene_autocomplete').submit();
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $("#link-id2").click(function(){
            $('#gene_autocomplete').val($(this).html());
            $('#gene_autocomplete').submit();
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $("#link-id3").click(function(){
            $('#gene_autocomplete').val($(this).html());
            $('#gene_autocomplete').submit();
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $("#link-id4").click(function(){
            $('#gene_autocomplete').val($(this).html());
            $('#gene_autocomplete').submit();
            return false;
        });
    });
</script>

<!--- for table -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table/datatables.min.css')}}">
<script src="{{ url_for('static', filename='table/datatables.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table/dataTables.alphabetSearch.css')}}">
<script src="{{ url_for('static', filename='table/dataTables.alphabetSearch.min.js')}}"></script>

<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            dom: 'Alfrtip',
            alphabetSearch: {
                column: 0
            }
        });
    });
</script>

{% endblock %}


