{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <section class="py-5">
        <div class="container py-5">
            <div class="row gy-5">
                <!-- Listing-->
                <div class="col-lg-12 order-1 order-lg-2">
                    <!-- Listing sorting-->
                    <div class="row mb-4 align-items-center">
                        <div class="col-md-6">
                            <form action="{{ url_for('cancer_type.information_cancer_type',cancer_type=cancer_type, dataset=dataset) }}" method="POST">
                                {{ form.dataset.label }} : {{ form.dataset }} <br><br>
                                <button class="btn btn-primary w-10" type="submit"> <i class="fas fa-search me-2 small"></i>Search</button>
                            </form><br><br>
                        </div>
                        <div class="col-md-6">
                            <input class="form-check-input" type="checkbox" id="chk1", data-ptag="content1" name="chk1" checked>
                            <label class="form-check-label" for="chk1">Information</label> &nbsp;&nbsp;

                            <input class="form-check-input" type="checkbox" id="chk2", data-ptag="content2" name="chk2" checked>
                            <label class="form-check-label" for="chk2">IC50</label>&nbsp;&nbsp;

                            <input class="form-check-input" type="checkbox" id="chk3", data-ptag="content3" name="chk3" checked>
                            <label class="form-check-label" for="chk3">IC90</label>&nbsp;&nbsp

                            <input class="form-check-input" type="checkbox" id="chk4", data-ptag="content4" name="chk4" checked>
                            <label class="form-check-label" for="chk4">AUC</label>&nbsp;&nbsp;<br><br>
                            <div style="float: right;">
                                <form action="{{ url_for('cancer_type.download',dataset=dataset, cancer_type=cancer_type) }}" method="POST">
                                        <button class="btn btn-info w-10" type="submit"> <i class="fa fa-download me-2 small"></i>Data</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Listing items-->
                    <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                        <div class="card-body p-lg-5" id="content1">
                            <h2 class="h3 mb-4">Cancer type Information : {{ cancer_type }}</h2>
                            <p> Data set : {{ dataset }}</p>
                        </div>
                    </div>
                    <div class="row mb-4 gy-4">
                        <!-- Gallery-->
                        <div class="col-lg-6" id="content2">
                            <h2 class="h3 mb-4">IC50</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4", id="chart1">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="content3">
                            <h2 class="h3 mb-4">IC90</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4", id="chart2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="content4">
                            <h2 class="h3 mb-4">AUC</h2>
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body p-4", id="chart3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1= {{ graph1Jason | safe}};
        Plotly.plot('chart1', graph1, {})

        var graph2= {{ graph2Jason | safe}};
        Plotly.plot('chart2', graph2, {})

        var graph3= {{ graph3Jason | safe}};
        Plotly.plot('chart3', graph3, {})
    </script>


    <!-- #### for show/hide div -->

    <script type="text/javascript">
        var first = true;
        $('input[type="checkbox"][name^=chk]').change(function () {
            var $target = $('#content' + this.id.replace('chk', '')).toggle(this.checked);
            if (first) {
                $('p[id^=content]').not($target).hide();
                first = false;
            }
        })
    </script>

{% endblock %}
